<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans"
      rel="stylesheet"
    />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/front_end.js"></script>
    <script type="text/javascript" src="/scripts/pins.js"></script>
  </head>

  <body>
    <header>
      <h1>MiMap</h1>
  <!--When have login will dynamically add user_id to id  -->
      <div class="profile" id="1">
        <p>Someone</p>
        <div class="dropdown">
          <a href="#" data-toggle="dropdown" class="dropdown-toggle"
            ><img
              id="profile_photo"
              src="https://journeypurebowlinggreen.com/wp-content/uploads/2018/05/placeholder-person.jpg"/>
            <b class="caret"></b
          ></a>
          <ul class="dropdown-menu">
            <li><a href="#">Logout</a></li>
          </ul>
        </div>
      </div>
    </header>
    <main>
      <div id="listDisplay">

        <div id="explore">
          <h2>Maps to explore</h2>
          <i class="fas fa-plus"></i>
        </div>
        <div class="card" id="new-list" style="display:none">
            <form action="/api/lists/" method="POST">
              <input
                class="new-list"
                type="text"
                placeholder="List Title"
                name="title"
              /><br />
              <input
                class="new-list"
                type="text"
                placeholder="List Description"
                name="description"
              /><br /><input class="new-list" id="new-list-submit" type="submit" value="Submit" />
            </form></div>
        <!-- Need to add events to app.js to open and close the accordian -->
        <div id="accordion">
        </div>
      </div>
      <div id="map_pin">
        <div class="selected_list" id="1">
          <img
            id="selected_pin_image"
            src="https://upload.wikimedia.org/wikipedia/commons/3/38/Hogwarts_model_studio_tour.jpg"
          />
          <header id="list_header"><h3>Title of selected pin</h3></header>
          <div id="list_info">
            <p>
              Zombie ipsum reversus ab viral inferno, nam rick grimes malum
              cerebro.
            </p>
          </div>
        </div>
        <div id="map"></div>
        <div class="selected_pin" id="1">
          <header id="pin_header"><h3>Title of selected pin</h3></header>
          <div id="pin_info">
            <p>
              Zombie ipsum reversus ab viral inferno, nam rick grimes malum
              cerebro.
            </p>
          </div>
        </div>
      </div>
      <table id="testTable"></table>
      <div id="pinList"></div>
    </main>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBS805WJ6YM18KwZODbP70sT41MPwgZOzU&callback=initMap&libraries=places"
      async
      defer
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
