body {
  height: 100%;
  margin: 0;
  padding: 0;
  header {
    background-color: gray;
    height: 100px;
    h1 {
      color: #244751;
    }
  }

  #map {
    height: 500px;
    width: 500px;
    margin: 5em;
    border: 1px solid black;
    border-radius: 0.5em;
  }
  #listDisplay {
    border-right: 1px solid black;
  }

  #testTable {
    height: 500px;
    width: 500px;
    margin: 5em;
    border: 1px solid black;
    border-radius: 0.5em;
  }
}
